<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content d-flex flex-wrap justify-content-between">
                    <div><img src="../assets/image/logo.png" class="img-fluid ft-logo" alt="logo"><br>© LanetBit 2020 </div>
                    <div>
                        <ul class="list-unstyled ft-link">
                            <li><a routerLinkActive='active' [routerLink]="['/about']">About Us </a></li>
                            <li><a routerLinkActive='active' [routerLink]="['/contact']">Contact</a></li>
                            <li><a routerLinkActive='active' [routerLink]="['/termsandcondition']">Terms & Conditions</a></li>
                            <li><a routerLinkActive='active' [routerLink]="['/privacypolicy']">Privacy policy</a></li>

                        </ul>
                    </div>
                    <div>
                        <ul class="list-unstyled ft-link">
                            <li><a href="javascript:void()" target="_blank" title="Share With Facebook"><i
                                        class="fa fa-facebook" aria-hidden="true"></i> Facebook </a></li>
                            <li><a href="javascript:void()" target="_blank" title="Share With Instagram"><i
                                        class="fa fa-twitter" aria-hidden="true"></i> Instagram</a></li>
                            <li><a href="javascript:void()" target="_blank" title="Share With Twitter"><i
                                        class="fa fa-instagram" aria-hidden="true"></i>
                                    Twitter</a></li>
                        </ul>
                    </div>
                    <div>
                        <p>Subscribe to our newsletter</p>
                        <form action="" class="form-inline">
                            <label class="sr-only" for="inlineFormInputGroupUsername2">Email Address</label>
                            <div class="input-group mb-2 mr-sm-2">

                                <input type="text" class="form-control input-ft" id="inlineFormInputGroupUsername2"
                                    placeholder="Username">
                                <div class="input-group-prepend">
                                    <div class="input-group-text group-text"><i class="fa fa-arrow-right"
                                            aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        497 Evergreen Rd. Roseville, CA 95673 <br> +44 345 678 903 <br> info@lanetbit.com
                    </div>
                </div>

                <ul class="list-unstyled d-flex align-items-center justify-content-center ftplay-store">
                    <li><a href=""><img src="../assets/image/playstore.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/image/ios.png" alt=""></a></li>
                    <!-- <li><a href=""><img src="../assets/image/barcode.jpg" alt=""></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>