<body>
    <section class="mainpage-bg">

<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark menubg-custom">
    <div class="container">
        <a class="navbar-brand" routerLinkActive='active' [routerLink]="['/home']"><img src="../assets/image/logo.png" class="img-fluid logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto custom-menu">

                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive='active' [routerLink]="['/twofa']">2fa</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="#">feed</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="#">blog</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="#">contact</a>
                </li>
                <li class="nav-item"   >
                    <a class="nav-link" href="#">demo</a>
                </li>
                <li class="nav-item logontab" >
                    <a class="nav-link" routerLinkActive='active' [routerLink]="['/login']">log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>  -->

        <div class="container banner-sec login-sec">
                <div class="row">
                <div class="col-md-9 mx-auto">
                     <div class="login-bg">
                    <div class="inner-login loginarea360">
                       
                            <h3 class="text-uppercase text-center pb-3">Log in </h3>
                            <!-- <p class="text-center">OTP has been sent to 9989998988</p> -->
                            <p class="text-center"> Enter OTP </p>
                            
                            <form action="">
                                <div class=" mb-12">
                                    <!-- <div class=""><input required name='phone' placeholder = 'Mobile number' [(ngModel)]='otp.phone' type="text" maxlength="10" class="form-control custom-input text-center" ></div> -->
                                 <!-- <br> -->
                                    <div class=""><input required name='one' placeholder = 'otp' [(ngModel)]='otp.otp' type="text" maxlength="5" class="form-control custom-input text-center"></div>
                              

                                    <!-- <div class="col-md-3"><input type="text" maxlength="1" class="form-control custom-input text-center"></div>
                                    <div class="col-md-3"><input type="text" maxlength="1" class="form-control custom-input text-center"></div>
                                    <div class="col-md-3"><input type="text" maxlength="1" class="form-control custom-input text-center"></div> -->
                                </div>
                                <p class="mb-4"><input type="submit" (click)='verotp()' value="VERIFY OTP" class="form-control submit-btn"></p>
                               
                            <p>Haven’t received your OTP yet? <span class="float-right font-weight-bold"><a href="" class="color-green"> Resend OTP </a></span></p>

                            </form>  
                       
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
                
            </div>

            <div class="row">
                <div class="col-md-12">
                     <p class="text-center text-white pt-4">© 2020 LanetBit.com. All rights reserved</p>
                </div>
            </div>
        </div>



    </section>

  

</body>
