
    <section class="mainpage-bg">
        <!-- Menu  -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark menubg-custom">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="image/logo.png" class="img-fluid logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto custom-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                                data-toggle="dropdown">my Account</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <div class="d-flex justify-content-center align-itmes-center dp px-2">
                                    <div><img src="image/user-img.png" alt=""> </div>
                                    <div>
                                        <p class="text-white pb-0 mb-0"><a href="profile.html"> Maria Doe</a></p>
                                        <span class="text-white">maria@gmail.com</span>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><img src="image/history.svg" alt=""> Buy/Sell</a>
                                <a class="dropdown-item" href="#"><img src="image/user (2).svg" alt=""> Refferal</a>
                                <a class="dropdown-item" href="#"><img src="image/gear (1).svg" alt=""> Settings</a>
                                <a class="dropdown-item" href="#"><img src="image/target.svg" alt=""> Security</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><img src="image/log-out.svg" alt=""> Log Out</a>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>

        <div class="container banner-sec login-sec">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="login-bg">
                        <div class="inner-login">

                            <h3 class="text-uppercase text-center ">BUY CRYPTOCURRENCY</h3>
                            <p class="text-center">Start buying crypto on the world’s leading exchange</p>
                            <ul class="list-unstyled currency-tab">
                                <li class="active"><a href="buy-currency.html">Buy Currency </a></li>
                                <li><a href="sell-currency.html">Sell Currency </a></li>
                            </ul>
                            <div class="loginarea360 mt-4">
                                <div class="d-flex align-items-center justify-content-center div-currency-bg mb-4">
                                    <div class="curruncy-name ">Coin </div>
                                    <div class="ml-auto">
                                        <select class="selectpicker form-control sell-input">
                                            <option value="">BTC</option>
                                            <option value="">BCH</option>
                                            <option value="">ERP</option>
                                            <option value="">XRP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-center div-currency-bg mb-4">
                                    <div class="curruncy-name ">Pay With</div>
                                    <div class="ml-auto">
                                        <select class="selectpicker form-control sell-input">
                                            <option value="">Credit / Debit Card</option>
                                            <option value=""> Pay Pal</option>
                                            <option value="">Netbanking</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <select class="form-control custom-input sell-input">
                                        <option value="">USD</option>
                                        <option value="">Euro</option>
                                        <option value="">Pound</option>
                                    </select>
                                </div>
                               
                                <div class="d-flex align-items-center justify-content-center div-currency-bg mb-4">
                                    <div class="curruncy-name ">2.2344</div>
                                    <div class="ml-auto">
                                        <select class="selectpicker form-control sell-input">
                                            <option value="">BTC</option>
                                            <option value="">BCH</option>
                                            <option value="">ERP</option>
                                            <option value="">XRP</option>
                                        </select>
                                    </div>
                                </div>

                                <p class="mb-4"><input type="submit" value="SELL BTC" class="form-control submit-btn">
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>



    </section>



   