
    <section class="mainpage-bg" style="background: url('../assets/image/about-benner.jpg'); padding-bottom: 0;">
        <!-- Menu  -->



        <div class="container banner-sec">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1 class="text-white banner-heading">About Us</h1>
                   
                </div>
                
            </div>
        </div>

    </section>

    
    <section class="invest">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title-headind">Investment To The Future Business Technology!</h1>
                    <p class="pera">The use of crypto-currencies has become more widespread, and they are now
                        increasingly accepted as a legitimate currency for transactions. Bitcoin is the first ever
                        cryptocurrency and is used like other assets in exchange for goods and services.</p>
                    <p class="pera"> Send, receive, and exchange Bitcoin, Ethereum, & Bitcoin Cash instantly with anyone
                        in the world.</p>
                </div>
                <div class="col-md-6">
                    <img src="../assets/image/chart.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

<section class="crpto-section about-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<h3 class="title-headind mb-3">What we do?</h3>
<p class="text-justify pera pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<h3 class="title-headind mb-3">why choose us ?</h3>
<p class="text-justify pera">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  
</div>
        </div>
    </div>
</section>

    <!-- <section class="subscribe ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-2">
                    <img src="../assets/image/send.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <p class="sub-pera">Subscribe to our MailChimp newsletter and stay up to date with all events coming
                        straight:</p>
                </div>
                <div class="col-md-4">
                    <p class="text-center text-sm-left"><a class="btn btn-primary text-uppercase btn-start"
                            href="javascript:void()">Start LanetBit</a></p>
                </div>
            </div>
        </div>

    </section> -->

