
    <section class="mainpage-bg">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark menubg-custom">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="image/logo.png" class="img-fluid logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto custom-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">my Account</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <div class="d-flex justify-content-center align-itmes-center dp px-2">  
                                    <div><img src="image/user-img.png" alt=""> </div>
                                <div>
                                    <p class="text-white pb-0 mb-0"><a href="profile.html"> Maria Doe</a></p>
                                    <span class="text-white">maria@gmail.com</span>
                                </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><img src="image/history.svg" alt="">  Buy/Sell</a>
                                <a class="dropdown-item" href="#"><img src="image/user (2).svg" alt="">  Refferal</a>
                                <a class="dropdown-item" href="#"><img src="image/gear (1).svg" alt="">  Settings</a>
                                <a class="dropdown-item" href="security.html"><img src="image/target.svg" alt="">  Security</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><img src="image/log-out.svg" alt="">  Log Out</a>
                              </div>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container banner-sec login-sec login-sec2">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-bg">
                        <h3 class="text-uppercase text-center pb-3">EDIT PROFILE</h3>

                        <div class="row">
                            <div class="col-md-9 mx-auto">
                                <form>
                                    <div class="row mb-2">
                                        <div class="col-md-4 mx-auto">
                                            <div class="position-relative">
                                                <span class="profile-bg"> <img src="../assets/image/user.png" class="img-fluid"
                                                        alt=""></span>
                                                <span class="plus-icon"><img src="../assets/image/plus-icon.png" alt=""></span>
                                            </div>
                                            <p class="text-center profilename">Upload Profile Image</p>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-md-6"><input type="text" class="form-control custom-input"
                                                placeholder="Full Name"></div>
                                        <div class="col-md-6"><input type="text" class="form-control custom-input"
                                                placeholder="Mobile No"></div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-6"><input type="text" class="form-control custom-input"
                                                placeholder="Email Id "></div>
                                        <div class="col-md-6"><input type="text" class="form-control custom-input"
                                                placeholder="Country"></div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-6"><input type="file" class="form-control custom-input"
                                                id="datepicker" placeholder="upload document"></div>
                                        <div class="col-md-6"><input type="file" class="form-control custom-input"
                                                placeholder="upload document"></div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-6"><input type="password" class="form-control custom-input"
                                                placeholder="Passwoed"></div>
                                        <div class="col-md-6"><input type="password" class="form-control custom-input"
                                                placeholder="Confirm Passwoed"></div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-md-12"> <label for=""><strong>Gender</strong> </label></div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="customRadioInline1">Male</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="customRadioInline2">Female</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadioInline3" name="customRadioInline1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="customRadioInline3">Other</label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 mx-auto"><input type="submit" value="save and exit"
                                                class="form-control submit-btn"></div>
                                    </div>


                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
    </section>




