
    <section class="mainpage-bg" style="background: url('../assets/image/privecy-policy-bg.jpg'); padding-bottom: 0;">
        <!-- Menu  -->


        <div class="container banner-sec">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1 class="text-white banner-heading"> Terms & Condition</h1>
                   
                </div>
                
            </div>
        </div>

    </section>

    
 

<section class="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<h5 class="mb-2 privay-heading">Lorem Ipsum Heading</h5>
<p class="text-justify pera ft-15 pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<h5 class="mb-2 privay-heading">Lorem Ipsum Heading</h5>
<p class="text-justify pera ft-15 pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<h5 class="mb-2 privay-heading">Lorem Ipsum listing</h5> 
<ul class="privacy-list">
    <li class="pera">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, totam deserunt. Ad aliquam eos, eum beatae expedita cum voluptatum commodi iste, asperiores dolor labore debitis sint impedit quasi modi enim.Rem, pariatur nisi vitae aut animi nam accusantium recusandae. Quo commodi, ipsa possimus suscipit rem architecto ex cupiditate obcaecati quas officiis, nemo ab quasi delectus. Reprehenderit obcaecati hic neque dolorem.</li>
    <li class="pera">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, totam deserunt. Ad aliquam eos, eum beatae expedita cum voluptatum commodi iste, asperiores dolor labore debitis sint impedit quasi modi enim.Rem, pariatur nisi vitae aut animi nam accusantium recusandae. Quo commodi, ipsa possimus suscipit rem architecto ex cupiditate obcaecati quas officiis, nemo ab quasi delectus. Reprehenderit obcaecati hic neque dolorem.</li>
    
    <li class="pera">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, totam deserunt. Ad aliquam eos, eum beatae expedita cum voluptatum commodi iste, asperiores dolor labore debitis sint impedit quasi modi enim.Rem, pariatur nisi vitae aut animi nam accusantium recusandae. Quo commodi, ipsa possimus suscipit rem architecto ex cupiditate obcaecati quas officiis, nemo ab quasi delectus. Reprehenderit obcaecati hic neque dolorem.</li>
    
    <li class="pera">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, totam deserunt. Ad aliquam eos, eum beatae expedita cum voluptatum commodi iste, asperiores dolor labore debitis sint impedit quasi modi enim.Rem, pariatur nisi vitae aut animi nam accusantium recusandae. Quo commodi, ipsa possimus suscipit rem architecto ex cupiditate obcaecati quas officiis, nemo ab quasi delectus. Reprehenderit obcaecati hic neque dolorem.</li>
    
    <li class="pera">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, totam deserunt. Ad aliquam eos, eum beatae expedita cum voluptatum commodi iste, asperiores dolor labore debitis sint impedit quasi modi enim.Rem, pariatur nisi vitae aut animi nam accusantium recusandae. Quo commodi, ipsa possimus suscipit rem architecto ex cupiditate obcaecati quas officiis, nemo ab quasi delectus. Reprehenderit obcaecati hic neque dolorem.</li>
    
</ul>
</div>
        </div>
    </div>
</section>

    <!-- <section class="subscribe ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-2">
                    <img src="../assets/image/send.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <p class="sub-pera">Subscribe to our MailChimp newsletter and stay up to date with all events coming
                        straight:</p>
                </div>
                <div class="col-md-4">
                    <p class="text-center text-sm-left"><a class="btn btn-primary text-uppercase btn-start"
                            href="javascript:void()">Start LanetBit</a></p>
                </div>
            </div>
        </div>

    </section> -->