 <div class="mainpage-bg">
        <div class="container banner-sec login-sec">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="login-bg dashboard-bg">
                        <div class="inner-login">

                            <h3 class="text-uppercase text-center "> Bank details </h3>
                           
                            <div class="loginarea360 mt-4">
                               <form #form='ngForm' ngNativeValidate action="">
                                
                                <div class="mb-4">
                                    <input type="text" class="form-control" name="aname" [(ngModel)]='bdetails.accountHolderName' placeholder=" Account holder name">
                                </div>
                               
                                <div class="mb-4">
                                    <input type="text" class="form-control" name="anumber" [(ngModel)]='bdetails.accountNumber' placeholder="Account number">
                                </div>

                                <div class="mb-4">
                                    <input type="text" class="form-control" name="bname" [(ngModel)]='bdetails.bankName' placeholder="Bank name">
                                </div>
                                                              
                                <div class="mb-4">
                                    <input type="text" class="form-control" name="rnum" [(ngModel)]='bdetails.routingNumber' placeholder="Routing number">
                                </div>
                               
                                <div class="mb-4">
                                    <input type="text" class="form-control" name="swiftcode" [(ngModel)]='bdetails.swiftOrBicCode' placeholder=" swift or bic code">
                                </div>
                               

                                <p class="mb-4"><input type="submit" value="Submit" (click)='upload1()' class="form-control submit-btn">
                                </p>
                            
                        </form> 


                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
</div>



   


