
    <section class="mainpage-bg">
        <!-- Menu  -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark menubg-custom">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="image/logo.png" class="img-fluid logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto custom-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                        <li class="nav-item logontab">
                            <a class="nav-link" href="login.html">Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container banner-sec login-sec login-sec2">
                <div class="row">
                <div class="col-md-9 mx-auto">
                   <div class="login-bg">
                        <div class="inner-login loginarea360">
                             <h3 class="text-uppercase text-center pb-3">Enter New Password </h3>
                             <form>
                            
                               <p class="mb-4"><input type="Password" class="form-control custom-input" placeholder="New password"></p>
                                <p class="mb-4"><input type="Password" class="form-control custom-input" placeholder="Confirm new password"></p>
                                <p class="mb-4"><input type="submit" value="SUBMIT" class="form-control submit-btn"></p>
                                </form>
                        </div>
                   </div>
                    
                </div>
                <div class="clearfix"></div>
                
            </div>

            <div class="row">
                <div class="col-md-12">
                     <p class="text-center text-white pt-4">© 2020 LanetBit.com. All rights reserved</p>
                </div>
            </div>
        </div>



    </section>

