
    <section class="mainpage-bg">
        <!-- Menu  -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark menubg-custom">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="image/logo.png" class="img-fluid logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto custom-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                        <li class="nav-item logontab">
                            <a class="nav-link" href="login.html">Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container banner-sec login-sec login-sec2">
                <div class="row">
                <div class="col-md-9 mx-auto">
                   <div class="login-bg">
                             <h3 class="text-uppercase text-center pb-3">PERSONAL INFORMATION</h3>
                             <p class="text-center mb-4">To minimize the time required for account approval, please ensure all <br> information entered is consistent with your identification documents</p>
                             
                             <form>
                                <div class="row mb-4">
                                    <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="First Name"></div>
                                    <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="Last Name"></div>
                               </div> 
                               <div class="row mb-4">
                                <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="Middle name(s) (if applicable)"></div>
                                <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="Mobile number"></div>
                           </div> 
                           <div class="row mb-4">
                            <div class="col-md-6"><input type="text" class="form-control custom-input" id="datepicker" placeholder="DOB"></div>
                            <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="Country"></div>
                       </div> 
                       <div class="row mb-4">
                        <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="City"></div>
                        <div class="col-md-6"><input type="text" class="form-control custom-input" placeholder="Postal code"></div>
                   </div> 

                   <div class="row mb-4">
                      <div class="col-md-12"> <label for=""><strong>Gender</strong> </label></div>
                       <div class="col-md-4">
                           <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Male</label>
                      </div>
                    </div>
                       <div class="col-md-4">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Female</label>
                          </div>
                       </div>
                       <div class="col-md-4">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline3">Other</label>
                          </div>
                       </div>
                   </div>
                       
                   
                   <div class="row">
                       <div class="col-md-6 mx-auto"><input type="submit" value="Next" class="form-control submit-btn"></div>
                   </div>
                              
                              
                                </form>
                       
                   </div>
                    
                </div>
                <div class="clearfix"></div>
                
            </div>

            <div class="row">
                <div class="col-md-12">
                     <p class="text-center text-white pt-4">© 2020 LanetBit.com. All rights reserved</p>
                </div>
            </div>
        </div>



    </section>

    

