<body>
    <section class="mainpage-bg">
        <!-- Menu  -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark menubg-custom">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="image/logo.png" class="img-fluid logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto custom-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard.html">dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                                data-toggle="dropdown">my Account</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <div class="d-flex justify-content-center align-itmes-center dp px-2">
                                    <div><img src="image/user-img.png" alt=""> </div>
                                    <div>
                                        <p class="text-white pb-0 mb-0"><a href="profile.html"> Maria Doe</a></p>
                                        <span class="text-white">maria@gmail.com</span>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><img src="image/history.svg" alt=""> Buy/Sell</a>
                                <a class="dropdown-item" href="#"><img src="image/user (2).svg" alt=""> Refferal</a>
                                <a class="dropdown-item" href="#"><img src="image/gear (1).svg" alt=""> Settings</a>
                                <a class="dropdown-item" href="security.html"><img src="image/target.svg" alt="">
                                    Security</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><img src="image/log-out.svg" alt=""> Log Out</a>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card my-5">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-center">
                                <div><img src="image/wallet.png" alt=""></div>
                                <div class="ml-3">
                                    <h3 class="mb-0 font-weight-bold color-blue">$ 123</h3>
                                    <p class="color-blue">Your wallet balance</p>
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-unstyled wallet-list">
                                        <li><a href="#">Buy/sell</a></li>
                                        <li><a href="#">withdraw</a></li>
                                        <li><a href="#">Deposit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-8">
                    <h4 class="color-green text-uppercase">My wallet</h4>
                    <div class="card">
                        <div class="card-body">
                            <div class="market-box mb-4">
                                <div class="d-flex justify-content-center align-items-center p-2">
                                    <div class="security-google"><img src="image/icon1.svg" alt=""></div>
                                    <div>
                                        <h5 class="mb-1 font-weight-bold text-white">Bitcoin</h5>
                                        <p class="mb-0 color-darkgrey">BTC</p>
                                    </div>

                                    <div class="ml-auto">
                                        <p class="color-green">+5.65 <span><img src="image/profit.svg"
                                                    alt=""></span></p>
                                    </div>
                                </div>


                                <hr class="hrline">

                                <img src="image/chart-4.png" class="w-100" alt="">

                            </div>

                            <div class="d-flex jusify-content-center align-items-center security-box mb-4 mt-4">
                                <div class="security-google"><img src="image/icon2.svg" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Bitcoin Cash</h5>
                                    <p class="mb-0 color-darkgrey">BCH</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 3542.33</h5>
                                    <p class="mb-0 color-darkgrey">0.8318</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-green">+5.65 <span><img src="image/profit.svg" alt=""></span></p>
                                </div>
                            </div>

                            <div class="d-flex jusify-content-center align-items-center security-box mb-4 mt-4">
                                <div class="security-google"><img src="image/eth2.png" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Ethereum</h5>
                                    <p class="mb-0 color-darkgrey">ETH</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 3542.33</h5>
                                    <p class="mb-0 color-darkgrey">0.8318</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-red">+5.65 <span><img src="image/loss.svg" alt=""></span></p>
                                </div>
                            </div>

                            <div class="d-flex jusify-content-center align-items-center security-box mt-4">
                                <div class="security-google"><img src="image/icon4.svg" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Ripple</h5>
                                    <p class="mb-0 color-darkgrey">XRP</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 1222.33</h5>
                                    <p class="mb-0 color-darkgrey">0.000</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-red">+5.65 <span><img src="image/loss.svg" alt=""></span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="color-green text-uppercase">Total assets <span class="price-chart">Price chart</span>
                    </h4>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="no-result py-3"> No data to show</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clerafix"></div>
            <br>
            <div class="row mt-5 my-5">
                <div class="col-md-12">
                    <h4 class="color-green text-uppercase">My transactions</h4>
                    <ul class="list-unstyled crpto-payment-list">
                        <li><a href="#" class="active">Crypto history</a> </li>
                        <li><a href="#">Fiat history</a> </li>
                    </ul>
                   <div class="clearfix"></div>
                    <div class="crpto-history font-weight-bold">No records</div>

<div class="mt-3"></div>
                    <h4 class="color-green text-uppercase">My transactions</h4>
                    <ul class="list-unstyled crpto-payment-list">
                        <li><a href="#" class="active">Buy orders</a> </li>
                        <li><a href="#">Sell orders</a> </li>
                    </ul>
                   <div class="clearfix"></div>
                    <div class="crpto-history font-weight-bold">No records</div>
                </div>

            </div>
            <br>
        </div>
    </section>




</body>
