<body>
    <section class="mainpage-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card my-5">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-center">
                                <div><img src="../assets/image/wallet.png" alt=""></div>
                                <div class="ml-3">
                                    <h3 class="mb-0 font-weight-bold color-blue">$ 123</h3>
                                    <p class="color-blue">Your wallet balance</p>
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-unstyled wallet-list">
                                        <li><a href="#">Buy/sell</a></li>
                                        <li><a href="#">withdraw</a></li>
                                        <li><a href="#">Deposit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Market Page Content -->
            <div class="row">
                <select [(ngModel)]="orders.ctype" name="st" class="form-control col-md-2 mr-2  ">
                    <option *ngFor="let lii of curlist | keyvalue" [ngValue]="lii.key">{{lii.key}}</option>
                </select>
    
                <select [(ngModel)]="orders.ctime" name="st1" class="form-control col-md-1 mr-2  ">
                    <option value='1d'>1d</option>
                    <option value='1h'>1h</option>
                    <option value='1m'>1m</option>
                </select>
    
                <ul class="list-unstyled chart-date mr-2">
                    <li>From</li>
                    <li class="date-bg">
                      
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker [startAt]="date" #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button (click)="picker.open()"><i class="fa fa-calendar"></i></button>
                    </li>
                    <li>To</li>
                    <li class="date-bg">

                        
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="pickerto">
                            <mat-datepicker [startAt]="enddate" #pickerto></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button (click)="pickerto.open()"><i class="fa fa-calendar"></i></button>
                    </li>
                    <!-- <li class="date-bg">
                        <input type="text" id="endDate" class="datepicker" [(ngModel)]="endDate">
                    </li> -->
                </ul>
                <!-- <button type="submit" (click)='ChartData()' class="btn btn-success btn-sm">SUBMIT</button> -->
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div style="text-align:center">
                        <div class="chart-box">
                            <div id="chart-candlestick">
                                <apx-chart #chartCandle [series]="chartCandleOptions.series"
                                    [chart]="chartCandleOptions.chart" [xaxis]="chartCandleOptions.xaxis"
                                    [plotOptions]="chartCandleOptions.plotOptions"></apx-chart>
                            </div>
                            <div id="chart-bar">
                                <apx-chart #chartBar [series]="chartBarOptions.series" [chart]="chartBarOptions.chart"
                                    [xaxis]="chartBarOptions.xaxis" [yaxis]="chartBarOptions.yaxis"
                                    [dataLabels]="chartBarOptions.dataLabels" [stroke]="chartBarOptions.stroke"
                                    [plotOptions]="chartBarOptions.plotOptions"></apx-chart>
                            </div>
                        </div>
                    </div>
                    <!-- <pre>{{chartBarOptions.series | json}}</pre> -->
                </div>
            </div>
            <!-- Market Page Content Finished -->

            <!-- <div class="row mt-4">
                <div class="col-md-8">
                    <h4 class="color-green text-uppercase">My wallet</h4>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex jusify-content-center align-items-center security-box mb-4">
                                <div class="security-google"><img src="../assets/image/icon1.svg" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Bitcoin</h5>
                                    <p class="mb-0 color-darkgrey">BTC</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 3542.33</h5>
                                    <p class="mb-0 color-darkgrey">0.8318</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-green">+5.65 <span><img src="image/profit.svg" alt=""></span></p>
                                </div>
                            </div>

                            <div class="d-flex jusify-content-center align-items-center security-box mb-4 mt-4">
                                <div class="security-google"><img src="../assets/image/icon2.svg" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Bitcoin Cash</h5>
                                    <p class="mb-0 color-darkgrey">BCH</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 3542.33</h5>
                                    <p class="mb-0 color-darkgrey">0.8318</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-green">+5.65 <span><img src="../assets/image/profit.svg"
                                                alt=""></span></p>
                                </div>
                            </div>

                            <div class="d-flex jusify-content-center align-items-center security-box mb-4 mt-4">
                                <div class="security-google"><img src="../assets/image/eth2.png" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Ethereum</h5>
                                    <p class="mb-0 color-darkgrey">ETH</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 3542.33</h5>
                                    <p class="mb-0 color-darkgrey">0.8318</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-red">+5.65 <span><img src="../assets/image/loss.svg" alt=""></span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex jusify-content-center align-items-center security-box mt-4">
                                <div class="security-google"><img src="../assets/image/icon4.svg" alt=""></div>
                                <div>
                                    <h5 class="mb-1 font-weight-bold">Ripple</h5>
                                    <p class="mb-0 color-darkgrey">XRP</p>
                                </div>

                                <div class="ml-auto">
                                    <h5 class="mb-1 font-weight-bold">$ 1222.33</h5>
                                    <p class="mb-0 color-darkgrey">0.000</p>
                                </div>
                                <div class="ml-auto">
                                    <h5 class="mb-0 font-weight-bold">7785.32</h5>
                                    <p class="color-red">+5.65 <span><img src="../assets/image/loss.svg" alt=""></span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="color-green text-uppercase">Total assets <span class="price-chart">Price chart</span>
                    </h4>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="no-result py-3"> No data to show</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="clerafix"></div> -->
            <!-- <br> -->
            <!-- <div class="row mt-5 my-5">
                <div class="col-md-12">
                    <h4 class="color-green text-uppercase">My transactions</h4>
                    <ul class="list-unstyled crpto-payment-list">
                        <li><a href="#" class="active">Crypto history</a> </li>
                        <li><a href="#">Fiat history</a> </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="crpto-history font-weight-bold">No records</div>

                    <div class="mt-3"></div>
                    <h4 class="color-green text-uppercase">My transactions</h4>
                    <ul class="list-unstyled crpto-payment-list">
                        <li><a href="#" class="active">Buy orders</a> </li>
                        <li><a href="#">Sell orders</a> </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="crpto-history font-weight-bold">No records</div>
                </div>

            </div> -->
            <!-- <br> -->
        </div>
    </section>




</body>