<section class="mainpage-bg">
      <div class="container banner-sec">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="text-white banner-heading">Welcome to LanetBit, your no 1 Digital Asset trading platform</h1>
                <p class="text-white banner-content">Bitcoin is peer-to-peer electronic money that features low fees
                    and fast
                    transaction times.</p>
                <p class=""><a class="btn text-uppercase btn-start" href="javascript:void()">Start
                        trading</a></p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="appstrore-icon">
                    <ul class="list-unstyled d-flex flex-wrap banner-playatore">
                        <li><a href="javascript:void()"><img src="../assets/image/playstore.png" class="img-fluid"
                                    alt=""></a></li>
                        <li><a href="javascript:void()"><img src="../assets/image/ios.png" class="img-fluid" alt=""></a>
                        </li>
                        <!-- <li><a href="javascript:void()"><img src="../assets/image/barcode.jpg" class="img-fluid" alt=""></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="trust">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title-headind">The most trusted cryptocurrency platform</h1>
                    <p class="text-center main-peraggraph">Here are a few reasons why you should choose LanetBit</p>
                </div>
            </div>

            <div class="row div-space">
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="trust-blog">
                        <img src="../assets/image/surface1.svg" alt="" class="">
                        <h4>Security storage</h4>
                        <p>We store the vast majority of the digital assets in secure offline storage.</p>
                        <p><a href="javascript:void()" class="color-green"><u>learn More <i class="fa fa-angle-right"
                                        aria-hidden="true"></i></u></a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="trust-blog">
                        <img src="../assets/image/health-insurance.svg" alt="" class="">
                        <h4>Protected by insurance</h4>
                        <p>Cryptocurrency stored on our servers is covered by our insurance policy.</p>
                        <p><a href="javascript:void()" class="color-green"><u>learn More <i class="fa fa-angle-right"
                                        aria-hidden="true"></i></u></a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="trust-blog">
                        <img src="../assets/image/devices.svg" alt="" class="">
                        <h4>On all devices</h4>
                        <p>Transfer and invest from anywhere you are, your transactions are safe.</p>
                        <p><a href="javascript:void()" class="color-green"><u> learn More <i class="fa fa-angle-right"
                                        aria-hidden="true"></i> </u></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


